name: BE CI

on:
  pull_request:
    branches: ["main", "dev"]
  push:
    branches: ["main", "dev"]

  # 코드 변경없이 CI 스크립트가 잘 작동하는지 확인하고 싶어서 사용
  workflow_dispatch: {}

permissions:
  contents: read

concurrency:
  group: be-ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name : CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Test & Check
        run: ./gradlew clean check --no-daemon

      - name: Build (bootJar)
        run: ./gradlew bootJar -x test --no-daemon

      - name: List artifacts
        run: ls -al build/libs

      - name: Upload build artifact (jar)
        uses: actions/upload-artifact@v4
        with:
          name: daeng-map-api-${{ github.sha }}
          path: build/libs/*.jar
          if-no-files-found: error
          retention-days: 30